---
import type { CollectionEntry } from "astro:content"
import FormattedDate from "../components/FormattedDate.astro"
import { ViewTransitions } from "astro:transitions"
import BaseHead from "../components/layout/BaseHead.astro"
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts"
import Navbar from "../components/layout/Navbar.astro"

type Props = CollectionEntry<"blog">["data"]

const { title, pubDate, description } = Astro.props
---

<!doctype html>
<html>
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <ViewTransitions />
  </head>
  <body class="bg-[#1c1c1c] text-white max-w-2xl mx-auto min-h-screen">
    <Navbar />
    <article>
      <div class="prose prose-invert prose-headings:m-0 prose-p:m-0">
        <div>
          <div>
            <FormattedDate date={pubDate} />
          </div>
          <h1 transition:name={`blog-${title}`}>{title}</h1>
          <p class="pt-2" transition:name={`description-${title}`}>{description}</p>
          <hr class="mt-5 mb-12 border-zinc-700" />
        </div>
        <slot />
      </div>
    </article>
  </body>
</html>
